/* reset */

html, body, header, section, form, ul, li, p, h1, h2, h3, a, img {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  color: inherit;
  background: transparent;
}


body {
  margin: 0;
  overflow: hidden;
  background: url('./assets/andromeda.jpg') center center no-repeat;
  background-size: cover;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.start-game {
}


.game-over.modal {
  display: none;
}

.modal {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  border-radius: 4px;
  padding: 20px;
  color: #0f0;
  background: #111;
  font-size: 24px;
  font-family: monospace;
  text-align: center;
}

.modal h1 {
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
}

.modal-text {
  padding-bottom: 20px;
  text-align: left;
}

.button {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0f0;
  cursor: pointer;
}


.button:hover {
  background: #222;
}
